@charset "UTF-8";
body {
    background-color:#d0e7ff;
    margin:0;
    padding: 20px;
    font-family: "Hiragino kaku Gothic ProN",sans-serif;
    text-align: center;
}

h1,h2,h3 {
    text-align:center;
    margin: 10px 0;
}
/*見出し*/
h1 {
    color:#3c6db3;
    margin-top: 25px;
    font-size: 28px;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    color:#7da7d8;
}

.card .photo {
    width: 100%;
    display: block;
}

.card {
    background:white;
    width: 85%;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    overflow: hidden;
}

.text-area {
    padding: 20px;
    background-color: rgba(170,200,255,0.3);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

@media (max-width: 480px) {
    h1 {font-size: 24px; }
    h2 {font-size: 20px; }
    h3 {font-size: 15px; }
    
    .card {
        width: 92%;
        margin: 25px auto;
        padding: 16px;
    }

    .text-area {
        padding: 16px;
    }
}